.time-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #c7e4f0;
  width: 82px;
  height: 26px;
  margin-bottom: 3px;

  &:focus-within {
    box-shadow: 0 0 10px darken(#afd8e9, 1);
    border-color: darken(#afd8e9, 2);
    transition: all 0.30s ease-in-out;
  }  

  input {
    outline: 0 !important;
    border-width: 0px !important;
    width: 24px;
    height: 24px;
    margin-top: 4px;

    &:focus {
      border-width: 0px !important;
      box-shadow : 0px 0px 0px !important;    
    }
  }
  
  input[type='number'] {
    -moz-appearance:textfield !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
  }

}