.remarks-upsert-modal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 6px;

    label {
      width: 50px !important;
    }

    .input-times {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2px;

      svg {
        margin-left: 5px;
        margin-right: 5px;      
      }
    }

    .quill {
      height: 500px;
      border: solid 1px #c7e4f0;
      outline: 0;

      .ql-toolbar {
        border: 0;
        border-bottom: solid 1px #D6EBF3;
        background-color: hsl(197, 100%, 97%);
      }

      .ql-container {
        height: 450px;
        border: 0;

        .ql-editor {
          /* width */
          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #cccccc; 
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #999999; 
          }            
        }  
      }
    }

  }  
}
