.main-menu-container {
  height: 500px;
  width: 600px;
  background-color: hsl(0, 0%, 98%);
  border: solid 1px hsl(0, 0%, 75%);
  border-top-width: 0px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 98%);
  display: none;
  position: fixed;
  z-index: 9;
  background: white;
  top: 50px;
  left: 0px;
  user-select: none;
  
  &.show-menu {
    display: flex;
    flex-direction: column;
  }

  .main-menu-header {
    //height: 30px;
    border: solid 1px hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: hsl(0, 0%, 75%);
      font-weight: bold;
      font-size: 14px;
      flex: 1;

      span {
        margin-right: 10px;
      }

      svg {
        color: #339966;
        cursor: pointer;
        opacity: 0.5;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .main-menu-body {
    display: flex;
    flex: 1;
    flex-direction: column;

    .deni-react-treeview-container {

      &:nth-child(1) {
        >div {
          flex: 1;
        }
      }

      .deni-react-treeview-item-container {

        //.onrenderitem-example {
  
          .icon-and-text {
            cursor: default !important;
          }
      
          .treeview-item-example {
            display: flex;
            flex: 1;
      
            .treeview-item-example-text {
              flex: 1;
            }
      
            .actionButton {
              margin-right: 5px;
              cursor: pointer;
              opacity: 0.2;
      
              &.trash {
                color: #ff6666;
              }
      
              &.edit {
                color: #006699; //#00cc44;
                margin-top: 1px;
              }

              &.plus {
                color: #339966;
                margin-top: 1px;
              }

              &:hover {
                //visibility: visible;
                  opacity: 1;
              }
    
            }
          //}
      
        }
      }      
    }
  }  

  .deni-react-treeview-container {
    background-color: inherit;
    flex: 1;
    display: flex;
    width: 100%;
    border: 0;

    .deni-react-treeview-item-container {
      height: 28px;    
      .icon-and-text {
        height: 28px;
        .icon {
          width: 24px;
          height: 24px;
          opacity: .7;
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACBElEQVR4XrWWTW4TQRCFv5lpHCcSGxB3AO7AIViyAAmyRuIQWbFly49EFlyCW4C4BSIKkTPTU9VFp0p2b0ISDeRJz+Vxu997Va223JkZt4nu4/vPLMCNUyUW4uXhc67Dpw/HpH8Z0TiO/A3r9RozW2zgm0spXIUwWODw6PFD8pQpegODYnb+6vDF/jD0XANPrKqICFOeXODKDqMD2++Ak18n/Ed4dzGiSMWbr1yKvoOhvvQ9dFR224Rg3lWlp43PGk7h3lMfkRuoFl4/u89GYMqgCr0bRA3dVq1VihtG7QfYW8FBgndffpKsGXCa4WwD4wSmkDoYKiN51AZaF1RakAuDPZADXDPFwRWk8uwcfm8gT7Fr2Bq0LprLJeJq0PUwK9Dhmn10IIioJ5/GygnmPO0oOTPPQXG25/hO45R9v2uJaBuRiJIVpEQaKwb9NrLR3rbZW0tOKYYYDlGYNQz63YhEyEIsKGQ14rlWNa/iAYIhYs4sxqR4zQJZ8SoirYNZ1Bc3uXIEkcISpAQHwLDCNVNpI3KD4HKDAqSdhu4umrtNwo4ixhIoMAisBObtIZd2BgRtsUHBSNK1M4hrXtxNLRIYHYW7LIDvVUCtdcDQDz6vWhhS5R38xizBkIJVq92Db99/oPqA1QrWGjdXlWUG8VvkWqqF7ujoLYAdnz7hNnDrf1v+AKud7SaUSSgUAAAAAElFTkSuQmCC') no-repeat !important;

          &.isleaf {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURQAAAOYsJuUsJuctJucsJuQsJeQsJuMsJuEgGv/9/fWvrehXUvCPjPvg3x4T0TEAAAAHdFJOUwDSXqk+IIDrGx9BAAAAg0lEQVQY02NgIBKwujgpgYBLAJBjXg4FhQ4MbOVwIMrAiOAUMYSDqHYwp4zBHUj2nADzisGcrrk7IJx0EGfmrAqQcVDOzDsgKRgHrBDGOQ4ygkEdzFndDtYDNu12B8Q0kKXVFeUQTiCQhLCBLmBGuK2EgQXBMWBgCDM2FAQBYyNigwMA0udb+Aohd0EAAAAASUVORK5CYII=') !important;
          }

          &.expanded {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACoElEQVR4XtWWQWsUSRTHf1XdPRmTUWPAoKAgZFEDs2gg4EG/gGevuqAu8eZNQZLbevIbLIQ9iJdlP4CH3LzIxkOIJmriwUQSMDMxzEympyfdXfVcZrppZphMCCGH/cG7Nf9fvVf9oJSIcJxo4P8tUH/NvuQQCAdw/+E9RQbuYe/gwe+/sR/pYY8kMMYQBAHdFAoFemW5cgjD1fHLrfAoinqJewusCFOP7tMMmuyHtbYVEMcxQSPoGRSFETYRVGoVjJGkA2upVWvUajX2QynVql6ksjAMEWsTeVcH2+UfmaArWGudCAC6JYJIWxLuRSTRShDJBNbi+36rAKpxjr9LYzgaPFfhaoVWoHVnvAAiYJMyVojP3uHtPxUr0ucvWtwd5ua1POO/nMBEYC0oAQV0T0kEBLCpUIHjQn4AVlabzL2rtztICYzDUrXA3Yt5Kru0BCKgBZRKJGl4WpIJ0OB6EAnMf/KJY1PsECxUCoxfGaTuK+ImGAMk4ToVqDQNLNmIBHAccC2srvt8325yo/zqYzoiYquYLw9ye2KIXR+iEKw1KIlxtOC0JKqjAyOCsWBxQHm4Hgy4sLxSY8iV68PDZ7IRLezkGb1QoB471H3YC8GYGJGY/igcncPzYBAobVbZ2Gow93hsEabai2YF3mzmmLh1imodgiaEUYS1ESD945WL62iUAwb4vLJDGEZFIFu0hS3IjZzEzQ1Qb8BeDMZ6iHh94xXZ/aDh69oOpW2ft8+Kyx2L9vqL4dLkCKEFIyAK0EkA/dEaHK9dq6slwigukoG7ZU5TcfKMnivgN9ofegpEOBCVLGDOg/W1EuVynfd/TC53CJaa59n4VmH2z385OhTpQj1//oKjMD39hH4ke3B0/jvorwAzM08/kMGxP1t+AkoHdtvbU1/1AAAAAElFTkSuQmCC') !important;
          }
        }
      }  
    }
  }
} 