.new-item-modal-container {

  .type-field-container {
    border-bottom: solid 1px #e6e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;      
      cursor: pointer;
      
      span {
        padding-top: 3px;
      }
    }

    span {
      align-items: center;
    }
  }

  .name-input {
    width: 250px;
  }

}